// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */


.products {
  background-color: #272b30;
  color: #000000;
  table {
    border-collapse: collapse;
  }
  .button {
    color: #FFFFFF;
    background-color: #000000;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .button_side {
      color: #000000;
      background-color: #FFFFFF;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
    }
  .button:hover {
    background-color: #272b30;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
    color: #FFFFFF;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }
  .list_actions a {
    color: #FFFFFF;
  }

  .list_line_even {
    background-color:   #272b30;
  }

  .list_line_odd {
    background-color:   #c8c8c8;
  }
}
/* END_HIGHLIGHT */